<div class="container">
<h1>Game #<%= @turn.game_id %></h1>
Innning: <%= @turn.inning %></br>
Turn #<%= @turn.id %></br>
At Bat: <%= @turn.at_bat %></br>

<h2>Pitching Team</h2>
Pitcher ID: <%= @turn.pitcher_id %></br>
Pitcher's Decision: <%= @turn.pitch_decision %></br>
Pitcher's roll: <%= @turn.roll_1 %><p>

<h2>Batting Team</h2>
Batter ID: <%= @turn.batter_id %></br>
Initial Base State ID: <%= @turn.base_state_id %></br>
Batter's Decision: <%= @turn.bat_decision %></br>
Batter's roll: <%= @turn.roll_2 %><p>

<h2>Results</h2>
Advantage: <%= @turn.advantage %></br>
Ending Base State: <%= @turn.ending_base_state_id %>
</div>
