<div class="container">
  <h1>Game #<%= @game.id %></h1>
  <p>Name: <%= @game.name %>
  <p>Home Team User ID: <%= @game.home_team_user_id %>
  <p>Visiting Team User ID: <%= @game.visitor_team_user_id %>

# view: for all @turns rows, show the following:

  <table class="table-bordered table-striped">
    <tr>
      <th>Global</br> Turn ID</th>
      <th>Inning</th>
      <th>At Bat</th>
      <th>Base State</th>
      <th>Pitcher's</br> Decision</th>
      <th>Pitcher's</br> Roll</th>
      <th>Batter's</br> Decision</th>
      <th>Batter's</br> Roll</th>
    </tr>
    <% @turns.each do |a| %>
    <tr>
      <td><%= a.id %></td>
      <td><%= a.inning %></td>
      <td><%= a.at_bat %></td>
      <td><%= a.base_state_id %></td>
      <td><%= a.pitch_decision %></td>
      <td><%= a.roll_1 %></td>
      <td><%= a.bat_decision %></td>
      <td><%= a.roll_2 %></td>
      <% end %>
    </tr>
  </table>
</div>
